doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		title BAND
		link(rel="stylesheet", href="/css/all.min.css")
		link(rel="stylesheet", href="/css/bootstrap.min.css")
	body
		.container.text-center
			h1 BAND
			img.mw-100(src=`/img/${src}.jpg`)