doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		title 검색결과
		link(rel="stylesheet" href="/css/all.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/search.css")
	body
		.container
			h1.pt-5.pb-3 GOGOL
			form.mb-3(method="get" action="/search")
				.form-inline
					input.form-control(type="text" name="q" value=`${q}`)
					button.btn.btn-primary.ml-2 검색
			ul.result-wrap
				each v in lists
					li.py-2.border-bottom
						h5.title= v.title 
						.content.d-flex
							img.mr-2(style="width: 80px;" src=`${v.src}`)
							p= v.content
			.text-center.py-3
				a(href="/") 메인으로 돌아가기
	
