header.header-wrapper
	.header-wrap.wrapper
		.logo
			a(href="/main") LOGO
		ul.navi-wrapper
			li.navi
				a(href="/city") City List
			li.navi
				a(href="/city/create") City Write
			li.navi |
			li.navi
				a(href="/about") ABOUT
			li.navi
				a(href="/pf") PORTFOLIO
			li.navi
				a(href="/contact") CONTACT
			li.navi
				a(href="/info") INFO