
<header class="header-wrapper">
  <div class="header-wrap wrapper">
    <div class="logo"><a href="/main">LOGO</a></div>
    <ul class="navi-wrapper">
      <li class="navi"><a href="/city">City List</a></li>
      <li class="navi"><a href="/city/create">City Write</a></li>
      <li class="navi">|</li>
      <li class="navi"><a href="/about">ABOUT</a></li>
      <li class="navi"><a href="/pf">PORTFOLIO</a></li>
      <li class="navi"><a href="/contact">CONTACT</a></li>
      <li class="navi"><a href="/info">INFO</a></li>
    </ul>
  </div>
</header>